gen
bin
bin/*
obj/*
gen/*
log
.idea
*.iml
*.class
*.log
*.txt
out/
local.properties
*.lock

/wp7/OTMA/OTMA/obj/Debug/App.g.cs
/wp7/OTMA/OTMA/obj/Debug/App.g.i.cs
/wp7/OTMA/OTMA/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/wp7/OTMA/OTMA/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/wp7/OTMA/OTMA/obj/Debug/GamePage.g.cs
/wp7/OTMA/OTMA/obj/Debug/GamePage.g.i.cs
/wp7/OTMA/OTMA/obj/Debug/MainPage.g.cs
/wp7/OTMA/OTMA/obj/Debug/MainPage.g.i.cs
/wp7/OTMA/OTMA/obj/Debug/OTMA.dll
/wp7/OTMA/OTMA/obj/Debug/OTMA.g.resources
/wp7/OTMA/OTMA/obj/Debug/OTMA.pdb
/wp7/OTMA/OTMA/obj/Debug/XapCacheFile.xml
/wp7/PhoneApp1/obj/Debug/App.g.cs
/wp7/PhoneApp1/obj/Debug/App.g.i.cs
/wp7/PhoneApp1/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/wp7/PhoneApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/wp7/PhoneApp1/obj/Debug/MainPage.g.cs
/wp7/PhoneApp1/obj/Debug/MainPage.g.i.cs
/wp7/PhoneApp1/obj/Debug/PhoneApp1.dll
/wp7/PhoneApp1/obj/Debug/PhoneApp1.g.resources
/wp7/PhoneApp1/obj/Debug/PhoneApp1.pdb
/wp7/PhoneApp1/obj/Debug/XapCacheFile.xml