<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.hsa.otma.android"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:label="@string/app_name" android:name=".OTMAApplication" >
        <activity android:name="ReceptionActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="MapViewActivity" />
        <activity android:name="RoomActivity" />
        <service android:name=".engine.EngineIntentService">
            <intent-filter>
                <action android:name="MOVE_TO_DIRECTION" />
                <action android:name="CURRENT_MAP_ITEM" />
            </intent-filter>
        </service>
    </application>
</manifest>
