body {
    font-family:Verdana,sans-serif;
}

div#main {
    width: 400px;
    padding: 3px;
    border: 1px silver solid;
}

div#background {
    z-index: 0;
    width: 400px;
    height: 400px;
}

div#background img {
    margin-top: -400px;
    z-index: 0;
    width: 100%;
    height: 100%;
}


div#npcHolder {
    float: right;
    height: 100px;
}

div#npcHolder img {
    z-index: 3;
    margin: 10px;
    position: relative;
}


div.holder {
    float: left;
    position: relative;
    width: 100%;
    height: 400px;
}

div#conversationHolder {
    z-index: 2;
    margin-top: -100px;
    visibility: visible;
}

div#conversation {
    margin: 20px;
    border: 2px silver solid;
    border-radius: 10px;
    padding: 10px;
    background-color: silver;
    visibility: hidden;
}

div#doorDescriptionHolder {
    z-index: 2;
    margin-top: -400px;
    visibility: hidden;
}

div#doorDescriptionHolder div.doorDescription {
    text-align:  center;
    margin: 130px auto 0;
    width: 100px;
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
}

div#roomHolder {
    margin-top: -400px;
    z-index: 2;
    visibility: hidden;
}

div#roomHolder div.roomTitle {
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 2px 2px #abc;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.27) 59%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(59%,rgba(0,0,0,0.27)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.27) 59%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.27) 59%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.27) 59%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.27) 59%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

div#roomHolder div.roomHint {
    width: 80%;
    margin: 270px auto 0;
    padding: 5px;
    border: 3px silver solid;
    border-radius: 5px;
    background: rgba(188, 188, 188, 0.6);
    visibility: hidden;
}

div#roomHolder div.roomHint div.title {
    font-weight: bold;
}

div#conversation div {
    z-index: 3;
    position: relative;
}

div#conversation div.conversationTitle {
    font-weight: bold;
}
div#conversation div.conversationSubTitle {
    font-size: 12px;
    margin-bottom: 10px;
}

table.navigationButtons {
    width: 50%;
    margin-left: 40%;
}

table.navigationButtons tr td {
    text-align: center;
}

table.navigationButtons input {
    height: 30px;
    width: 100%;
}

div#npcButton {
    float: left;
    width: 30%;
    text-align: center;
}

div#npcButton input {
    margin: 20%;
}