div#main {
    width: 300px;
    padding: 3px;
    border: 1px blue solid;
}

div#background {
    z-index: 0;
    width: 300px;
    height: 400px;
}

div#background img {
    margin-top: -100px;
    z-index: 0;
    width: 100%;
    height: 100%;
}

div#npcHolder {
    float: left;
    width: 100px;
    height: 100px;
}

div#npcHolder img {
    z-index: 1;
    position: relative;
}

table.navigationButtons {
    width: 50%;
    margin-left: 40%;
}

table.navigationButtons tr td {
    text-align: center;
}

table.navigationButtons input {
    width: 100%;
}

div#npcButton {
    float: left;
    width: 30%;
    text-align: center;
}

div#npcButton input {
    margin: 20%;
}